.m-sidebar {
    width: 260px;
    background: #e7eaf3;
    padding: 0;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 2px;
    > .sidebar-item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        >.sidebar-btn{
            width: 228px;
            height: 43px;
            border: none;
            padding: 0 10px;
            &:hover{
                background: red;
            }
            .img-before{
                margin-right: 10px;
            }
            .img-after{
                margin-left: auto;
            }
        }
        .sidebar-content{
            padding-left: 30px;
            .sidebar-item-link{
                display: flex;
                align-items: center;
                padding: 5px 0px;
                .sidebar-img{
                    width: 20px;
                    height: auto;
                    margin-right: 5px;
                }
            }
        }
    }
    > .sidebar-item-link{
        display: flex;
        align-items: center;
        width: 228px;
        height: 43px;
        background: #fff;
        border: none;
        padding: 0 10px;
        &:hover{
            background: red;
        }
        .sidebar-img{
            margin-right: 10px;
        }
    }
}

.m-sidebar.fixed {
    position: fixed;
    width: 280px;
    left: 0;
}


