@use '../util' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&family=Public+Sans:wght@300&display=swap');



html {
    //font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: rem(18);
    font-weight: 300;
    line-height: 1.3;
}
